
body{
    background-image: url("../img/sunset.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .contenedor{
    width: 1000px;
    min-width: 500px;
    background-color: rgba(0, 0, 0, 0.336);
    color: rgb(233, 224, 224);
    padding: 100px;
    display: block;
    margin:0 auto;
  }

  h1{
    color:rgb(243, 137, 160);
    font-size: 40px;
  }

  h2{
    color: rgb(147, 152, 228);
  }

 h2,p,img,a{
    margin-left: 30px;
  }

  h3{
    font-size: 20px;
    color: rgb(219, 180, 136);
  }

  h3,p{
    margin-left: 45px;
  }

  